# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Python cache e compilados
__pycache__/
*.py[cod]
*$py.class

# Distribuição e pacotes Python
*.egg-info/
.eggs/
build/
dist/

# Histórico do projeto (Rename CLI)
.rename_history.json
logs/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# Editores e IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db
